In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Date':['2001-01', '2001-02', '2001-03', '2001-04'], 'Count': [600, 650, 700, 750]})
df.head()

      Date  Count
0  2001-01    600
1  2001-02    650
2  2001-03    700
3  2001-04    750

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      object
 1   Count   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Count   4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 192.0 bytes

In [6]:
df.head()

        Date  Count
0 2001-01-01    600
1 2001-02-01    650
2 2001-03-01    700
3 2001-04-01    750

In [7]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [8]:
df

        Date  Count  Year  Month  Day
0 2001-01-01    600  2001      1    1
1 2001-02-01    650  2001      2    1
2 2001-03-01    700  2001      3    1
3 2001-04-01    750  2001      4    1

In [9]:
df.drop('Date', axis = 1, inplace = True)